{% extends 'lookup/base.html' %}



{% block body_block %}
<div class="container">
<h3> Add new item </h3>

<span class="glyphicon icon-arrow-left"></span>
<a class="btn btn-default" href="/lookup/seed" role="button">Back to seed collection</a>

<p>
    <form action="/lookup/addnewseed/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group">
	     <p> {{ form.type }} Seed type (pick one)
	     <p> {{ form.linename }} Line name
	     <p> {{ form.location }} Location 
	     <p> {{ form.source }} Source
	     <p> {{ form.ecotype }} Ecotype
	     <p> {{ form.selectionmark }} Selection Marker
	     <p> {{ form.genotypeprimer }} Genotype Primer
	     <p> {{ form.contact }} Contact
	       
	    </div>
	 <div id="form">
    <div id="submit"><input type="submit" value="Submit seed">
        </div>
    </form>
    <p>
    <p>
    <span class="glyphicon icon-arrow-left"></span>
<a class="btn btn-default" href="/lookup/seed" role="button">Back to seed collection</a>



</div>
</div>

{% endblock %}
