{% extends 'lookup/base.html' %}



{% block body_block %}
<div class="container">
<h3> Add new item </h3>

<span class="glyphicon icon-arrow-left"></span>
<a class="btn btn-default" href="/lookup/seed" role="button">Back to seed collection</a>

<p>
    <form action="/lookup/addseed/?parents={{ p1 }}&parents={{ p2 }}"" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group">
	       {{ form.type }} 
                {{ form.linename }}
                {{ form.location }}
		{{ form.source }}
		{{ form.ecotype }}
		{{ form.selectionmarker }}
		{{ form.genotypeprimer }}
		{{ form.contact }}
	    </div>
	 <div id="form">
    <div id="submit"><input type="submit" value="Submit seed">
        </div>
    </form>
    <p>
    <p>
    <span class="glyphicon icon-arrow-left"></span>
<a class="btn btn-default" href="/lookup/seed" role="button">Back to seed collection</a>



</div>
</div>

{% endblock %}
