{% extends 'lookup/base.html' %}
{% block body_block %}


<div class="container">     
 
  <h1>Overview</h1>
  
  <table class="table table-striped">

    <thead>
        <tr>
          <th class="col-sm-8">NGS Category</th>
          <th class="col-sm-2">Number</th>
        </tr>
    </thead>
    <tbody>
      <tr>
	<td> <a href="scientists">Scientists</a> </td>
	<td> {{ scientist }} </td>
      </tr>
      <tr>
	<td> <a href="allsamples">Samples</a> </td>
	<td> {{ samples }} </td>
	
      </tr>
      <tr>
	<td> <a href="projects">Projects</a> </td>
	<td> {{ projects }} </td>

      </tr>


    </tbody>
  </table>
  
  
  <table class="table table-striped">
      
      <thead>
          <tr>
              <th class="col-sm-8">Lab databases</th>
              <th class="col-sm-2">Number active</th>
               <th class="col-sm-2">Number inactive</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td> <a href="antibody">Antibodies</a> </td>
              <td> {{ nantit }} </td>
               <td> {{ nantif }} </td>
          </tr>
          <tr>
              <td> <a href="kits">Kits</a> </td>
              <td> {{ nkitt }} </td>
              <td> {{ nkitf }} </td>
          </tr>
          <tr>
              <td> <a href="">Plasmids</a> </td>
              <td> 0  </td>
               <td> 0 </td>
              
          </tr>
          
          <tr>
              <td> <a href="seed">Seeds</a> </td>
              <td> {{ nseed }} </td>
               <td> 0 </td>
              
          </tr>
          

          
      </tbody>
  </table>

  
</div>




<div class="container">     
  <h1>Messages</h1>
 
</div>

<div class="container">     
  <h3>Useful <a href="http://www.csf.ac.at/facilities/ngs/about-ngs/">CSF-NGS</a> links </h3>
  <ul class="div">
    <li><a href="http://ngs.csf.ac.at/forskalle">Forskalle</a>: For submission and
    administration of your sequencing requests to the CSF-NGS </li>
    <li><a href="http://ngs.csf.ac.at">Queue</a>: For checking the progress of your CSF-NGS requests and securely download finished sequencing data</li>
    <li><a href="http://sequencing.csf.viennabiocenter.org/galaxy">Galaxy</a>: Providing a userfriendly interface for
    making your own analyses</li>
    
  </ul>
  
</div>
{% endblock %}



