{% extends 'lookup/base.html' %}

{% block body_block %}
<div class="container"> 
  <h1>Berger Group Projects</h1>
  <table class="table table-striped">

    <thead>
        <tr>
          <th class="col-sm-8">Project Name</th>
          <th class="col-sm-2">Primary Scientist</th>
	  <th class="col-sm-2">Samples Included </th>
        </tr>
    </thead>
    <tbody>
      <tr>
	{% for val in Projectnames %}
	<td><a href="/lookup/project_blog/{{ val.pk }}">{{val.pk }}</a> </td>
	<td>{{ val.primary_scientist }} </td>
	<td> {%for sample in val.samples.all %}
	  <a href="/lookup/details/?id={{ sample }}">{{ sample }}</a> 
	{% endfor %} </td> </tr>
        {% endfor %}
     
      
    </tbody>
  </table>
</div>
{% endblock %}


