{% extends 'lookup/base.html' %}



{% block body_block %}
<div class="container">
    <h2>Kit collection</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-8">Kit type</th>
                </tr>
            </thead>
        <tr>
        <td> <a href='/lookup/kits/RNA'> RNA </a> </td>
        </tr>
        <tr>
        <td> <a href='/lookup/kits/RNA'> DNA </a> </td>
        </tr>
        <td> <a href='/lookup/kits/Protein'> Protein </a> </td>
        </tr>
      </table>
</div>

{% endblock %}


