{% extends 'lookup/base.html' %}



{% block body_block %}
<script type="text/javascript">
    $(function() {
      $("#tablesorter-demo").tablesorter()
      });
</script>

</head>
<div class="container">
    <h2>Seed collection</h2>
    <a class="btn btn-danger" href="/lookup/kits/?type=DeepSeq" role="button">All</a>
    <a class="btn btn-warning" href="/lookup/kits/?type=RNA" role="button">WT</a>
    <a class="btn btn-warning" href="/lookup/kits/" role="button">1st mutant</a>
    <a class="btn btn-warning" href="/lookup/kits/" role="button">1st transform</a>
    <a class="btn btn-primary" href="/lookup/kits/?type=DNA" role="button">1st generation</a>
    <a class="btn btn-primary" href="/lookup/kits/?type=Protein" role="button">2nd generation</a>  
    <a class="btn btn-primary" href="/lookup/kits/?type=Protein" role="button">Later generations</a>  
    
  
    {% if type == "None" or not type %}
    <h4>Showing all active samples</h4>
    {% elif type == "inact" %}
    <h4>Showing inactive(removed) samples only</h4>
    {% else %}
    <h4>Showing {{ type }} samples only</h4>
    {% endif %}
<form action="/lookup/addseed/" method="GET">
<table id="tablesorter-demo"  class="tablesorter" border="0" cellpadding="0" cellspacing="1">
        <thead>
            <tr>
	      	{% if type == "new" %}
		<th>Selected</th>
		{% endif %}
                <th>Type</th>
                <th>Line</th>
                <th>Location</th>
                <th>Source</th>
		<th>Ecotype</th>
		<th>Selection marker</th>
		<th>Genotype primer</th>
		<th>Contact</th>
		
            </tr>

        </thead>
        <tbody>
	  {% load staticfiles %}
            
            {% for instance in Seeds %}
            
            <tr>
	      	{% if type == "new" %}
	      	<td> <input name="parents" value= {{ instance.pk }} type="checkbox"> </td>
		{% endif %}
                <td> {{ instance.fields.type }}</td>
                <td> {{ instance.fields.linename }}</td>
                <td> {{ instance.fields.location }}</td>
		<td> {{ instance.fields.source }}</td>
		<td> {{ instance.fields.ecotype }}</td>
		<td> {{ instance.fields.selectionmarker }}</td>
		<td> {{ instance.fields.genotypeprimer }}</td>
		<td> {{ instance.fields.contact }}</td>
		<td> <a href='/lookup/seeparents/{{ instance.pk }}'> History </td>
	
		
		{% endfor %}
            <tbody>
    </table>
{% if type == "new" %}
 <input type="submit" class="btn btn-default">Make Cross</input>
{% endif %}
</form>


{% if type != "new" %}    
<h3>Manage seed database</h3>
<a class="btn btn-success" href="/lookup/addnewseed" role="button">Add new seed</a>
<a class="btn btn-success" href="/lookup/seed/?type=new" role="button">Cross seeds</a>
	{% endif %}




 

</div>

{% endblock %}


