{% extends 'lookup/base.html' %}



{% block body_block %}
<div class="container">
<h3> Update antibody {{ pk }}</h3>

<span class="glyphicon icon-arrow-left"></span>
<a class="btn btn-default" href="/lookup/antibody/?type={{ type }}" role="button">Back to antibody collection</a>

<p>
    <form action="/lookup/updateab/?pk={{ pk }}&type={{ type }}" method="POST"> {% csrf_token %}
        <div class="form-group">
            <div id="cform">


	       <p> {{ form.antibody }}  Antibody
        <p> {{ form.antigen_used }}  Antigen used
        <p> {{ form.source }}   Source
        <p> {{ form.ig_type }} Ig used
        <p> {{ form.concentration }} Concentration
        <p> {{ form.dilution_western }} Dilution/Western
        <p> {{ form.secondary_western }} Secondary Western
        <p> {{ form.protein_size }} Protein size
        <p> {{ form.location_work }} Location Work
        <p> {{ form.location_storage }} Location Storage
        <p> {{ form.company }}  Company
        <p> Additional comments:
        <p> {{ form.comment }}
        <p> {{ form.active }} Active in record
	    </div>
	    <div id="form">
    <div id="submit"><input type="submit" value="Submit updates">
        </div>
    </form>
    <p>
    <p>
    <span class="glyphicon icon-arrow-left"></span>
<a class="btn btn-default" href="/lookup/antibody/?type={{ type }}" role="button">Back to antibody collection</a>

</div>
</div>

{% endblock %}
